$unit: 'px'

.head
  section
    align-items: flex-start
  &-kitchen
    border-right: 1px solid $white
  &-burger
    display: none

main
  +w(100%)
  display: flex
  align-items: flex-start
  justify-content: space-between

.nav
  flex: 0 0 20%
  position: static
  &-item
    border-top: 1px solid $white
    &>a
      height: auto
      padding: 10px 15px

.main
  +w(calc(80% - 10px))
  padding-right: 10px

.first-row
  padding: 10px 10px 10px 0

.add-button
  +w(auto)
  padding: 0 20px

.form
  +w(594px)
  padding: 0
  &-cols
    display: flex
    justify-content: space-between
  &-col
    +w(49%)
  &-block
    &-image
      align-items: center
      .form-block-title
        +w(auto)
        margin-bottom: 0
        margin-right: auto