aside.nav
    nav
        ul.nav-list
            li.nav-item
                a(href='/') Dashboard main
            li.nav-item
                a(href='#') Meals
                    include ../../img/arrow.svg
                .nav-item-hidden
                    a(href='#') Creat meal
                    a(href='#') All meals
            li.nav-item
                a(href='/company.html') Companies
            li.nav-item
                a(href='/menu.html') Menus
            li.nav-item
                a(href='#') Orders
            li.nav-item
                a(href='#') Global Settings