extends template/main
append vars
    -
        page_title= 'Company'
block content
    main
        include parts/aside
        .main
            section.first-row
                .search.search-companies
                    input(type='text' placeholder='search').search-input
                    button.search-button
                        include ../img/search.svg
                button(data-click-action="Front:showForm" data-form-name="companyForm").button.add-button Add
            section.table-row
                table.table.table-companies
                    thead
                        tr
                            th
                                .td-div Number
                            th
                                .td-div Company Name
                            th
                                .td-div Description
                            th
                                .td-div Status
                            th
                                .td-div Add date
                            th
                                .td-div Actions
                    tbody
            section(data-form="companyForm").form-section
                form(data-submit-action="Front:saveCompany").form
                    .form-row
                        h3.form-title Company Add
                    .form-row.form-row-border
                        span.form-row-title Name
                        input(type="text" name="name").form-input
                    .form-row.form-row-border
                        span.form-row-title Company Desc
                        textarea(name="desc").form-area
                    .form-block.form-row
                        h4.form-block-title.form-row Status
                        input(type="radio" name="status" checked="")#status-in
                        label.form-status-label(for="status-in") Working
                        input(type="radio" name="status")#status-not
                        label(for="status-not").form-status-label Not working
                    .form-block.form-row
                        button.form-button Save
                        button.form-button(type="button") Cancel
