extends template/main
append vars
  -
    page_title= 'Main'
block content
    main
        aside.nav
            nav
                ul.nav-list
                    li.nav-item
                        a(href='/') Dashboard main
                    li.nav-item
                        a(href='#') Meals
                            include ../img/arrow.svg
                        .nav-item-hidden
                            a(href='#') Creat meal
                            a(href='#') All meals
                    li.nav-item
                        a(href='/company.html') Companies
                    li.nav-item
                        a(href='#') Menus
                    li.nav-item
                        a(href='#') Orders
                    li.nav-item
                        a(href='#') Global Settings
        .main
            section.first-row
                .search
                    input(type='text' placeholder='search').search-input
                    button.search-button
                        include ../img/search.svg
                button.button.add-button Download
            section.table-row
                table.table
                    tbody
                        tr
                            th
                                .td-div Number
                            th
                                .td-div Name of Food
                            th
                                .td-div List of dishes
                            th
                                .td-div Status
                            th
                                .td-div Date of Create
                            th
                                .td-div Date of Redact
                            th
                                .td-div Image
                            th
                                .td-div  Actions
                        tr
                            td
                                .td-div 1
                            td
                                .td-div Dinner
                            td
                                .td-div Sup, Tea, Bread
                            td
                                .td-div Ready
                            td
                                .td-div 10.08.2020
                            td
                                .td-div 20.08.2020
                            td
                                .td-div
                            td
                                button.table-button Redact
                        tr
                            td
                                .td-div 2
                            td
                                .td-div Supper
                            td
                                .td-div Tea, Bread, Butter
                            td
                                .td-div Cooking
                            td
                                .td-div 05.08.2020
                            td
                                .td-div 20.08.2020
                            td
                                .td-div
                            td
                                button.table-button Redact

            section
                form.form
                    .form-row
                        h3.form-title Dinner Add
                    .form-block.form-row
                        button.form-button Save
                        button.form-button Cancel
                    .form-cols
                        .form-col
                            .form-row
                                input(type='text' placeholder='Name').form-input
                            .form-row
                                textarea(placeholder='List of Dishes').form-area
                            .form-block
                                h4.form-block-title Status
                                input(type='radio' name='status' checked)#status-in
                                label(for='status-in') In process
                                input(type='radio' name='status')#status-not
                                label(for='status-not') Not in process
                        .form-col
                            .form-block.form-block-image
                                h4.form-block-title Image
                                .form-file
                                    input(type='file')#form-file
                                    label(for='form-file').form-button Choose file
                                fieldset
                                    legend Drag and Drop image here
                                    .form-drag-area