extends template/main
append vars
  -
    page_title= 'Main'
block content
    main
        include parts/aside
        .main
            section.first-row
                .search.search-dinner
                    input(type='text' placeholder='search').search-input
                    button.search-button
                        include ../img/search.svg
                button(data-click-action="Front:showForm" data-form-name="dinnerForm").button.add-button Add
            section.table-row
                table.table.table-dinners
                    thead
                        tr
                            th
                                .td-div Number
                            th
                                .td-div Name of Food
                            th
                                .td-div List of dishes
                            th
                                .td-div Status
                            th
                                .td-div Date of Create
                            th
                                .td-div Date of Redact
                            th
                                .td-div Image
                            th
                                .td-div  Actions
                        tbody
            section(data-form="dinnerForm").form-section
                form(data-submit-action="Front:saveDinner").form
                    .form-row
                        h3.form-title Dinner Add
                    .form-row.form-row-border
                        span.form-row-title Name
                        input(type='text' name='name').form-input
                    .form-row.form-row-border
                        span.form-row-title List of Dishes
                        textarea(name='dishes-list').form-area
                    .form-block.form-row
                        h4.form-block-title.form-row Status
                        input(type='radio' name='status' checked)#status-in
                        label(for='status-in').form-status-label In process
                        input(type='radio' name='status')#status-not
                        label(for='status-not').form-status-label Not in process
                    .form-row.form-block.form-image
                        h4.form-block-title.form-image-title Image
                        .form-image-file
                            input(type='file' name='image')#form-file
                            label(for='form-file').form-button Choose file
                        .form-image-drop.form-row.form-row-border
                            span.form-row-title Drag and Drop image here
                    .form-block.form-row
                         button.form-button Save
                         button(type='button').form-button Cancel