extends template/main
append vars
    -
        page_title= 'Menu'
block content
    main
        include parts/aside
        .main
            section.first-row
                .search.search-menu
                    input(type='text' placeholder='search').search-input
                    button(data-click-action='Front:searchMenusById').search-button
                        include ../img/search.svg
                button(data-click-action="Front:showForm" data-form-name="menuForm").button.add-button Add
                button(data-click-action="Front:downloadTable" data-form-name="menuTable").button.download-button
                    span Download
                    include ../img/download.svg
            section.table-row
                table.table.table-menu
                    thead
                        tr
                            th
                                .td-div Number
                            th
                                .td-div Menu Name
                            th
                                .td-div Description
                            th
                                .td-div Status
                            th
                                .td-div Companies
                            th
                                .td-div Dishes
                            th
                                .td-div Actions
                    tbody
            section(data-form="menuForm").form-section#menuForm
                form(data-submit-action="Front:saveMenu").form
                    .form-row
                        h3.form-title Menu Add
                    .form-row.form-row-border
                        span.form-row-title Name
                        input(type="text" name="name").form-input
                    .form-row.form-row-border
                        span.form-row-title Description
                        textarea(name="desc").form-area
                    .form-block.form-row
                        h4.form-block-title.form-row Status
                        input(type="radio" name="status" checked="")#status-in
                        label.form-status-label(for="status-in") Working
                        input(type="radio" name="status")#status-not
                        label(for="status-not").form-status-label Not working
                    .form-row.form-row-border
                        span.form-row-title Companies
                        .search.search-modal-companies
                            input(type='text' placeholder='search').search-input
                            button(data-click-action='Front:searchCompany').search-button
                                include ../img/search.svg
                        ul.form-list.form-list-companies
                    .form-row.form-row-border
                        span.form-row-title Dinner List
                        .search.search-modal-dinner
                            input(type='text' placeholder='search').search-input
                            button(data-click-action='Front:searchDinner').search-button
                                include ../img/search.svg
                        ul.form-list.form-list-dinners
                    .form-block.form-row.form-days.form-row-border
                        span.form-row-title Days
                        ul.form-days-list
                            li.form-days-row
                                input(type="checkbox")#Monday
                                label.form-status-label(for="Monday") Monday
                            li.form-days-row
                                input(type="checkbox")#Tuesday
                                label(for="Tuesday").form-status-label Tuesday
                            li.form-days-row
                                input(type="checkbox")#Wednesday
                                label.form-status-label(for="Wednesday") Wednesday
                            li.form-days-row
                                input(type="checkbox")#Thursday
                                label(for="Thursday").form-status-label Thursday
                            li.form-days-row
                                input(type="checkbox")#Friday
                                label.form-status-label(for="Friday") Friday
                            li.form-days-row
                                input(type="checkbox")#Saturday
                                label(for="Saturday").form-status-label Saturday
                            li.form-days-row
                                input(type="checkbox")#Sunday
                                label.form-status-label(for="Sunday") Sunday
                    .form-block.form-row
                        button.form-button Save
                        button(data-click-action='Front:clearForm' type="button").form-button Cancel
